openapi: 3.1.0
info:
  title: Qaida Places API
  version: 1.0.0
  summary: API inferred from the Qaida mobile UI kit screens.
  description: |
    This specification was derived from the HTML screens in the design folder.
    It describes the backend contract implied by the search, recommendations,
    place details, favorites, profile, collections, and notifications flows.

    Some parts are inferred from UI behavior and should be confirmed before implementation:
    - recommendation scoring logic
    - booking flows mentioned in notifications
    - collection vs default favorites behavior
    - push notification delivery strategy
servers:
  - url: https://api.qaida.app/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development
tags:
  - name: Auth
  - name: Places
  - name: Search
  - name: Recommendations
  - name: Favorites
  - name: Collections
  - name: User
  - name: Notifications
  - name: Reviews
  - name: Meta
paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered and tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Refreshed tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout current user and revoke current tokens
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: Tokens revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /health:
    get:
      tags: [Meta]
      summary: Get aggregate service health
      responses:
        '200':
          description: Health status for API dependencies
          content:
            application/json:
              schema:
                type: object
  /health/live:
    get:
      tags: [Meta]
      summary: Liveness probe
      responses:
        '200':
          description: API process is alive
          content:
            application/json:
              schema:
                type: object
  /health/ready:
    get:
      tags: [Meta]
      summary: Readiness probe for database and redis
      responses:
        '200':
          description: All dependencies are ready
          content:
            application/json:
              schema:
                type: object
        '503':
          description: One or more dependencies are unavailable
          content:
            application/json:
              schema:
                type: object
  /places:
    get:
      tags: [Places]
      summary: List places
      description: Returns places filtered for category, budget, company type, distance, and sort order.
      parameters:
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Budget'
        - $ref: '#/components/parameters/CompanyType'
        - $ref: '#/components/parameters/DistanceKm'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Place list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /places/popular:
    get:
      tags: [Places]
      summary: Get popular places
      description: Returns a curated list used on home and onboarding screens.
      parameters:
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Popular places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceListResponse'
  /places/nearby:
    get:
      tags: [Places]
      summary: Get nearby places
      parameters:
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/DistanceKm'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Nearby places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /places/{placeId}:
    get:
      tags: [Places]
      summary: Get place details
      parameters:
        - $ref: '#/components/parameters/PlaceId'
      responses:
        '200':
          description: Detailed place information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceDetail'
        '404':
          $ref: '#/components/responses/NotFound'
  /places/{placeId}/menu:
    get:
      tags: [Places]
      summary: Get place menu
      parameters:
        - $ref: '#/components/parameters/PlaceId'
        - in: query
          name: category
          schema:
            type: string
          description: Optional menu category filter.
      responses:
        '200':
          description: Menu items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenuItem'
                required: [items]
        '404':
          $ref: '#/components/responses/NotFound'
  /places/{placeId}/reviews:
    get:
      tags: [Reviews]
      summary: List reviews for a place
      parameters:
        - $ref: '#/components/parameters/PlaceId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Review list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [Reviews]
      summary: Create review for a place
      parameters:
        - $ref: '#/components/parameters/PlaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: Review created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /places/{placeId}/share:
    post:
      tags: [Places]
      summary: Generate share link for a place
      parameters:
        - $ref: '#/components/parameters/PlaceId'
      responses:
        '200':
          description: Share link generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /places/{placeId}/complaints:
    post:
      tags: [Places]
      summary: Submit complaint about a place
      parameters:
        - $ref: '#/components/parameters/PlaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComplaintRequest'
      responses:
        '202':
          description: Complaint accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /search:
    get:
      tags: [Search]
      summary: Search places
      parameters:
        - in: query
          name: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Budget'
        - $ref: '#/components/parameters/CompanyType'
        - $ref: '#/components/parameters/DistanceKm'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Search results with optional match score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /recommendations:
    get:
      tags: [Recommendations]
      summary: Get recommendations using query filters
      parameters:
        - $ref: '#/components/parameters/CompanyType'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Budget'
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Recommended places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationListResponse'
    post:
      tags: [Recommendations]
      summary: Create personalized recommendations from explicit preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecommendationRequest'
      responses:
        '200':
          description: Personalized recommendations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /user:
    get:
      tags: [User]
      summary: Get current user profile
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [User]
      summary: Update current user profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Updated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/stats:
    get:
      tags: [User]
      summary: Get current user statistics
      responses:
        '200':
          description: User stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/favorites:
    get:
      tags: [Favorites]
      summary: List favorite places
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Favorite places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/favorites/{placeId}:
    get:
      tags: [Favorites]
      summary: Check if place is in favorites
      parameters:
        - $ref: '#/components/parameters/PlaceId'
      responses:
        '200':
          description: Favorite state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Favorites]
      summary: Add place to favorites
      parameters:
        - $ref: '#/components/parameters/PlaceId'
      responses:
        '201':
          description: Place added to favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Favorites]
      summary: Remove place from favorites
      parameters:
        - $ref: '#/components/parameters/PlaceId'
      responses:
        '200':
          description: Place removed from favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/collections:
    get:
      tags: [Collections]
      summary: List user collections
      responses:
        '200':
          description: Collections list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
                required: [items]
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Collections]
      summary: Create collection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
      responses:
        '201':
          description: Collection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/collections/{collectionId}:
    get:
      tags: [Collections]
      summary: Get collection details
      parameters:
        - $ref: '#/components/parameters/CollectionId'
      responses:
        '200':
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Collections]
      summary: Delete collection
      parameters:
        - $ref: '#/components/parameters/CollectionId'
      responses:
        '204':
          description: Collection deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/collections/{collectionId}/places/{placeId}:
    post:
      tags: [Collections]
      summary: Add place to collection
      parameters:
        - $ref: '#/components/parameters/CollectionId'
        - $ref: '#/components/parameters/PlaceId'
      responses:
        '201':
          description: Place added to collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Collections]
      summary: Remove place from collection
      parameters:
        - $ref: '#/components/parameters/CollectionId'
        - $ref: '#/components/parameters/PlaceId'
      responses:
        '200':
          description: Place removed from collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/search-history:
    get:
      tags: [User]
      summary: List search history
      responses:
        '200':
          description: Search history list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchHistoryEntry'
                required: [items]
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [User]
      summary: Save search history entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSearchHistoryRequest'
      responses:
        '201':
          description: Search history entry created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchHistoryEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/search-history/{entryId}:
    delete:
      tags: [User]
      summary: Delete search history entry
      parameters:
        - in: path
          name: entryId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Search history entry deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/notifications:
    get:
      tags: [Notifications]
      summary: List notifications
      parameters:
        - in: query
          name: type
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NotificationType'
          style: form
          explode: false
        - in: query
          name: read
          schema:
            type: boolean
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/notifications/{notificationId}:
    patch:
      tags: [Notifications]
      summary: Update notification state
      parameters:
        - $ref: '#/components/parameters/NotificationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationRequest'
      responses:
        '200':
          description: Updated notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Notifications]
      summary: Delete notification
      parameters:
        - $ref: '#/components/parameters/NotificationId'
      responses:
        '204':
          description: Notification deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/notification-preferences:
    get:
      tags: [Notifications]
      summary: Get notification preferences
      responses:
        '200':
          description: Notification preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Notifications]
      summary: Save notification preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferences'
      responses:
        '200':
          description: Notification preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/notification-preferences/subscribe:
    post:
      tags: [Notifications]
      summary: Enable notification subscription for the current user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceToken:
                  type: string
                platform:
                  type: string
                  enum: [ios, android, web]
      responses:
        '200':
          description: Notifications enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/reviews/{reviewId}:
    delete:
      tags: [Reviews]
      summary: Delete current user review
      parameters:
        - in: path
          name: reviewId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Review deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /categories:
    get:
      tags: [Meta]
      summary: List place categories
      responses:
        '200':
          description: Categories dictionary
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                required: [items]
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    PlaceId:
      in: path
      name: placeId
      required: true
      schema:
        type: string
        format: uuid
    CollectionId:
      in: path
      name: collectionId
      required: true
      schema:
        type: string
        format: uuid
    NotificationId:
      in: path
      name: notificationId
      required: true
      schema:
        type: string
        format: uuid
    Category:
      in: query
      name: category
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    Budget:
      in: query
      name: budget
      schema:
        $ref: '#/components/schemas/BudgetRange'
    CompanyType:
      in: query
      name: companyType
      schema:
        $ref: '#/components/schemas/CompanyType'
    DistanceKm:
      in: query
      name: distanceKm
      schema:
        type: number
        format: float
        minimum: 0
    SortBy:
      in: query
      name: sortBy
      schema:
        type: string
        enum: [popularity, rating, distance, recent]
    Latitude:
      in: query
      name: lat
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
    Longitude:
      in: query
      name: lng
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      in: query
      name: offset
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    BudgetRange:
      type: string
      enum: ['$', '$$', '$$$']
    CompanyType:
      type: string
      enum: [solo, couple, friends, family]
    PlaceStatus:
      type: string
      enum: [open, closed, coming_soon]
    NotificationType:
      type: string
      enum: [new_place, reminder, saved_place, recommendation, booking]
    Coordinates:
      type: object
      properties:
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
      required: [lat, lng]
    Category:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        icon:
          type: string
      required: [id, slug, name]
    PlaceSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
        shortDescription:
          type: string
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
        reviewCount:
          type: integer
          minimum: 0
        address:
          type: string
        distanceKm:
          type: number
          format: float
        budget:
          $ref: '#/components/schemas/BudgetRange'
        status:
          $ref: '#/components/schemas/PlaceStatus'
        imageUrl:
          type: string
          format: uri
        tags:
          type: array
          items:
            type: string
        isFavorite:
          type: boolean
      required:
        [id, name, category, rating, reviewCount, address, budget, status, isFavorite]
    PlaceDetail:
      allOf:
        - $ref: '#/components/schemas/PlaceSummary'
        - type: object
          properties:
            description:
              type: string
            coordinates:
              $ref: '#/components/schemas/Coordinates'
            openingHours:
              type: array
              items:
                $ref: '#/components/schemas/OpeningHour'
            gallery:
              type: array
              items:
                type: string
                format: uri
            amenities:
              type: array
              items:
                type: string
            menuPreview:
              type: array
              items:
                $ref: '#/components/schemas/MenuItem'
          required: [description]
    OpeningHour:
      type: object
      properties:
        day:
          type: string
        open:
          type: string
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$'
        close:
          type: string
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$'
      required: [day, open, close]
    MenuItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
        price:
          type: number
          format: float
        currency:
          type: string
          default: KZT
        imageUrl:
          type: string
          format: uri
      required: [id, name, category, price]
    Review:
      type: object
      properties:
        id:
          type: string
          format: uuid
        placeId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        authorName:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        text:
          type: string
        createdAt:
          type: string
          format: date-time
      required: [id, placeId, userId, authorName, rating, text, createdAt]
    Recommendation:
      type: object
      properties:
        place:
          $ref: '#/components/schemas/PlaceSummary'
        matchScore:
          type: integer
          minimum: 0
          maximum: 100
        reasons:
          type: array
          items:
            type: string
      required: [place, matchScore]
    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        avatarUrl:
          type: string
          format: uri
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        notificationPreferences:
          $ref: '#/components/schemas/NotificationPreferences'
      required: [id, name, email, preferences, notificationPreferences]
    UserPreferences:
      type: object
      properties:
        companyType:
          $ref: '#/components/schemas/CompanyType'
        favoriteCategories:
          type: array
          items:
            type: string
        budget:
          $ref: '#/components/schemas/BudgetRange'
      additionalProperties: false
    UserStats:
      type: object
      properties:
        placesVisited:
          type: integer
          minimum: 0
        reviewsCount:
          type: integer
          minimum: 0
        favoritesCount:
          type: integer
          minimum: 0
      required: [placesVisited, reviewsCount, favoritesCount]
    FavoriteStatus:
      type: object
      properties:
        placeId:
          type: string
          format: uuid
        isFavorite:
          type: boolean
      required: [placeId, isFavorite]
    Collection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        placeCount:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
      required: [id, name, placeCount, createdAt]
    CollectionDetail:
      allOf:
        - $ref: '#/components/schemas/Collection'
        - type: object
          properties:
            places:
              type: array
              items:
                $ref: '#/components/schemas/PlaceSummary'
          required: [places]
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/NotificationType'
        title:
          type: string
        message:
          type: string
        actionUrl:
          type: string
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time
      required: [id, type, title, message, read, createdAt]
    NotificationPreferences:
      type: object
      properties:
        enabled:
          type: boolean
        enabledTypes:
          type: array
          items:
            $ref: '#/components/schemas/NotificationType'
      required: [enabled, enabledTypes]
    SearchHistoryEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        query:
          type: string
        filters:
          $ref: '#/components/schemas/SearchFilters'
        createdAt:
          type: string
          format: date-time
      required: [id, query, filters, createdAt]
    SearchFilters:
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
        companyType:
          $ref: '#/components/schemas/CompanyType'
        budget:
          $ref: '#/components/schemas/BudgetRange'
        distanceKm:
          type: number
          format: float
        sortBy:
          type: string
          enum: [popularity, rating, distance, recent]
      additionalProperties: false
    CreateRecommendationRequest:
      type: object
      properties:
        companyType:
          $ref: '#/components/schemas/CompanyType'
        categories:
          type: array
          items:
            type: string
        budget:
          $ref: '#/components/schemas/BudgetRange'
        coordinates:
          $ref: '#/components/schemas/Coordinates'
      required: [companyType]
    CreateReviewRequest:
      type: object
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        text:
          type: string
          minLength: 1
      required: [rating, text]
    CreateCollectionRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
      required: [name]
    CreateSearchHistoryRequest:
      type: object
      properties:
        query:
          type: string
        filters:
          $ref: '#/components/schemas/SearchFilters'
      required: [query, filters]
    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        avatarUrl:
          type: string
          format: uri
        preferences:
          $ref: '#/components/schemas/UserPreferences'
    UpdateNotificationRequest:
      type: object
      properties:
        read:
          type: boolean
      required: [read]
    CreateComplaintRequest:
      type: object
      properties:
        reason:
          type: string
        description:
          type: string
      required: [reason]
    ShareResponse:
      type: object
      properties:
        shareUrl:
          type: string
          format: uri
      required: [shareUrl]
    AcceptedResponse:
      type: object
      properties:
        accepted:
          type: boolean
          const: true
      required: [accepted]
    PlaceListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PlaceSummary'
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
        offset:
          type: integer
      required: [items, total, limit, offset]
    ReviewListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
        offset:
          type: integer
      required: [items, total, limit, offset]
    RecommendationListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Recommendation'
      required: [items]
    SearchResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Recommendation'
        total:
          type: integer
          minimum: 0
      required: [items, total]
    NotificationListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        unreadCount:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
      required: [items, unreadCount, total]
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
      required: [code, message]
    RegisterRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 128
        avatarUrl:
          type: string
          format: uri
      required: [name, email, password]
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 128
      required: [email, password]
    RefreshTokenRequest:
      type: object
      properties:
        refreshToken:
          type: string
      required: [refreshToken]
    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
      required: [refreshToken]
    AuthUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
      required: [id, name, email]
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
          example: bearer
        expiresIn:
          type: integer
        user:
          $ref: '#/components/schemas/AuthUser'
      required: [accessToken, refreshToken, tokenType, expiresIn, user]